<h1>All Audits</h1>

<table class="sortable">
  <thead>
    <tr>
      <th>Audit Type</th>
      <th>Date</th>
      <th>Num Problems</th>
      <th>Distribution</th>
    </tr>
  </thead>
  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= audit_type_name(audit.type) %></td>
        <td><%= link_to audit.completed_at.to_date, audit_path(audit) %></td>
        <td><%= audit.audit_problems.count %></td>
        <td><%= image_tag year_distribution_sparkline(audit.audit_problems) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
