<div class="topbar">
  <div class="fill">
    <div class="container">
      <h3><%= link_to "FR2 Audit", root_path %></h3>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">By Type</a></li>
        <li><a href="#">By Date</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
